
body
{
	scrollbar-gutter: stable;
}

::-webkit-scrollbar
{
	background: transparent;
	width: 8px;
	/* border-radius: 100vh; */
}

:is(:not(body)):hover::-webkit-scrollbar-thumb
{
	background: var(--accent-color);
	/* border-radius: 100vh; */
}

:is(:not(body)):hover::-webkit-scrollbar-thumb:hover
{
	background: var(--accent-color-20);
	/* border-radius: 100vh; */
}
body:hover::-webkit-scrollbar-thumb
{
	background: var(--accent-color);
	/* border-radius: 100vh; */
}

body:hover::-webkit-scrollbar-thumb:hover
{
	background: var(--accent-color-20);
	/* border-radius: 100vh; */
}