
body
{
	scrollbar-gutter: stable;
}

::-webkit-scrollbar
{
	background: transparent;
	width: 8px;
	/* border-radius: 100vh; */
}

:is(:not(body)):hover::-webkit-scrollbar-thumb
{
	background: var(--accent-color);
	/* border-radius: 100vh; */
}

:is(:not(body)):hover::-webkit-scrollbar-thumb:hover
{
	background: var(--accent-color-20);
	/* border-radius: 100vh; */
}

body:hover::-webkit-scrollbar-thumb
{
	background: var(--accent-color);
	/* border-radius: 100vh; */
}

body:hover::-webkit-scrollbar-thumb:hover
{
	background: var(--accent-color-20);
	/* border-radius: 100vh; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
{
	-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
	transition: background-color 5000s ease-in-out 0s;
}